__pycache__/

/data/*
!/data/.gitkeep
/db.sqlite3
/media/

/dist/
*.egg-info/
/build/
/.pybuild/
/.tox/
.coverage*
/debian/*debhelper*
/debian/*.substvars
/debian/files
/debian/python3-memoorje/
/debian/memoorje/
/debian/tmp/
*.mo

node_modules/
app/dist/
npm-debug.log*

.idea/
*.env*
*.swp
