__pycache__/

/data/*
!/data/.gitkeep
/db.sqlite3
/schnipsel/local_settings.py
/schnipsel/static/

/dist/
/schnipsel.egg-info/
/build/
/.pybuild/
/.tox/
.coverage*
/debian/*debhelper*
/debian/*.substvars
/debian/files
/debian/python3-schnipsel/
/debian/schnipsel/
/debian/schnipsel-webapp/

node_modules/
app/dist/
npm-debug.log*

.idea/
*.env*
*.swp
