@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #032b44;
  --color-accent: #04d89d;
  --color-accent-alt-1: #fdc800;
  --color-accent-alt-2: #ff4197;

  --illustration-light: theme('colors.gray.300');
  --illustration-dark: var(--color-primary);
  --illustration-base-1: theme('colors.gray.200');
  --illustration-base-2: theme('colors.gray.300');
  --illustration-base-3: theme('colors.gray.400');
}

:root.dark {
  --illustration-dark: theme('colors.gray.900');
  --illustration-base-1: theme('colors.gray.600');
  --illustration-base-2: theme('colors.gray.700');
  --illustration-base-3: theme('colors.gray.800');
}

.hyphens {
  hyphens: auto;
}

.content {
  a {
    @apply underline;
  }

  p,
  ul,
  ol,
  dl,
  blockquote,
  img,
  figure,
  svg {
    display: block;

    &:not(:first-child) {
      @apply mt-1;
    }

    &:not(:last-child) {
      @apply mb-5;
    }
  }
}

@layer utilities {
  @variants responsive {
    .ar-none {
      aspect-ratio: unset;
    }

    .ar-1 {
      aspect-ratio: 1 / 1;
    }

    .ar-5\/4 {
      aspect-ratio: 5 / 4;
    }

    .ar-4\/3 {
      aspect-ratio: 4 / 3;
    }

    .ar-16\/6 {
      aspect-ratio: 16 / 6;
    }
  }
}
